
.fontStyling {
  font-family: "Quicksand", sans-serif;
}

.fontStyling02 {
  font-family: "avenirnextregular", "Arial", sans-serif;
  font-size: 30px;
}

@media (max-width: 375px) {
  .fontStyling02 {
    font-size: 1.5rem;
  }
}

.textBlack {
  color: black;
  text-decoration: none;
}


/* Mega Menu styling */

/* Header Styling */
.fontStyling{
  font-family: 'Arial', sans-serif;  
  font-size: smaller;
  letter-spacing: 0.22rem;
  margin-top: 3px;
}

.fontStyling02 {
font-family: 'Arial', sans-serif;  
letter-spacing: 0.20rem;
}
.text-decoration-none {
  color: inherit;
}

@media (max-width: 375px) {
  .fontStyling02 {
    font-size: 1.5rem; 
  }
}

.hover-underline {
text-decoration: none; 
}

.hover-underline:hover {
text-decoration: underline;
text-decoration-thickness: -1px; 
}
/* Input focus: Black border when clicked */
.custom-input:focus {
border-color: black !important;
box-shadow: none !important; 
outline: none;
}

.dropdown-item {
color: #000; 
background-color: transparent !important; 
}

input.form-control:focus {
  border-color: black; 
  box-shadow: none; 
}


.account-dropdown {
width: 200px; 
padding: 10px;
border: 1px solid #ddd;
background-color: white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-dropdown ul {
list-style: none;
padding: 0;
margin: 0;
}

.account-dropdown li {
margin-bottom: 8px;
}

.account-dropdown li:last-child {
margin-bottom: 0;
}

.account-dropdown .dropdown-item {
font-size: 14px; 
}








  
/* Mega Menu styling */
.mega-menu {
  background-color: #F8F9FA;
}


.menu-items {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu-items li {
  position: relative;
  margin: 0 20px;
}

/* .menu-items li:hover{
  background-color: #DFDDDD;
} */

.menu-items a {
  text-decoration: none;
  color: #333;
  padding: 0px 5px 0px 5px;
  font-weight: 600;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s ease, border-bottom 0.3s ease, font-size 0.3s ease-in-out;
}

.menu-items a:hover,
.menu-items .active {
  color: #000 !important;
  opacity: 1 !important;
  border-bottom: 1px solid #000 !important;
  font-weight: bold !important;

}

.menu-items:focus {
  color: #000 !important;
  opacity: 1 !important;
  border-bottom: 1px solid #000 !important;
  font-weight: bold !important;

}

.menu-items a:hover {
  font-size: 20px;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  /* Start position above */
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  /* Adjusted transform timing */
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  /* Move dropdown to its normal position */
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Caret styling */
.caret {
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.5s ease;
  /* Adjusted to make it faster */
}

.dropdown:hover .caret {
  transform: rotate(180deg);
  /* Rotate the caret on hover */
}


/* offcanvas styling */
.accordion-body {
  background-color: #DDDDDD;
  width: 140px;
  border: 1px;
  border-radius: 1px;
}

.offcanvas {
  background-color: #F8F9FA !important;
}

.accordion-header {
  width: 140px;
}


/* Media Queries */
@media (max-width:769px) {
  .navbar__ {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .menu-items_ {
    flex-direction: row;
  }
}

.menu-items_ li {
  position: relative;
  margin: 10px 0;
}

@media (min-width: 992px) {
  .menu-items_ li {
    margin: 0 20px;
  }


}


@media (max-width:405px) {
  .btn-tranparent{
    top:-225px !important;
  }
}

@media (max-width:400px) {
  .btn-tranparent{
    top:-228px !important;
  }
}


@media (max-width:364px) {
  .btn-tranparent{
    left:-22px !important;
  }
}



/* footer styling */
.privacy-policy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 10px;

}

.privacy-policy a {
  font-size: smaller;
  color: black;
  font-weight: 500;
}

.copyright p {
  font-size: small;
  color: black;
  font-weight: 500;
}

.anchor a {
  font-size: small;
  color: black;
  font-weight: 500;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures that the content is centered within the column */
}

.contact-item i {
  margin-right: 10px; /* Adds space between the icon and the text */
}

@media (max-width: 768px) {
  .contact-item {
    justify-content: flex-start; /* Align items to the left for smaller screens */
  }
}


/* @media (max-width: 767.9px) {
  
 .Online-resources{
  display: none;
 }
} */
/* footer styling */




/* Login page styling starts */
 /* Login page styling starts */

/* Headings Styles */
.login-box h3,
.create-account-box h3 {
  font-family: 'Georgia', serif;
  font-size: 1.75rem;
  font-weight: bold;
}

.button-login {
  background-color: #84754E;
  border-radius: 5px;
  height: 41px;
  border: #84754E;
  color: white;
}

.checkbox {
  font-size: small;
  color: black;
  font-weight: 500;
}

/* For BLue Linking */
.textBlack{
  color: black;
  text-decoration: none;
}
 /* Login page styling ends */
